<h1>Restaurants#index</h1>
<p>Find me in app/views/restaurants/index.html.erb</p>

 <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.description %></td>
      </tr>
  <% end %>
